<!-- <h1>Chat</h1> -->

<div id="messages">
<ul id="chat">
  <%= render @messages %>
</ul>
	</div>

<br>
	<div class="form-inputs chat-input"><%= render "messages/form" %></div>

<%= subscribe_to '/messages/new' %>
