<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2> <%= @cateroyNam %> Rooms</h2>

<table>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<td>
        <td><%= link_to (room.name), room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

	<div class="nav1"><%= link_to 'Create New Room', new_room_path %></div>
<br>
