<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><b>
<!-- <%= link_to '< Back', root_path %> -->
<%= link_to '<Back',  :back %>
<h2>New Room </h2>
</b>
<%= render 'form' %>
