/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*color palette: http://www.colourlovers.com/palette/92095/Giant_Goldfish*/

$blue: #69D2E7;
$blue2: #A7DBD8;
$beige: #E0E4CC;
$orange: #F38630;
$orange2: #FA6900;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
/*@import url(https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext);*/
@import url(https://fonts.googleapis.com/css?family=Arvo);

html, body {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $blue;
  background: $blue; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69D2E7', endColorstr='#E0E4CC'); /* for IE */
  background: -webkit-linear-gradient(left top, $blue, $beige) no-repeat center center fixed; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $blue, $beige) no-repeat center center fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $blue, $beige) no-repeat center center fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $blue, $beige) no-repeat center center fixed; /* Standard syntax */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: $blue;
  color: #333;
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'Arvo', serif;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  font-size: 18px;
/*  line-height: 18px;*/
}

p, ol, ul, td, a {
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  font-size: 18px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:visited {
  color: #000;
  text-shadow: 1px 1px 2px $blue2;
  -webkit-transition: color 0.5s; /* Safari */
   transition: color 0.5s;
   -webkit-transition: text-shadow 0.5s; /* Safari */
   transition: text-shadow 0.5s;
}


/*a:visited {
    color: $orange;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s;
}*/

a:active {
    color: #666;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s;
}

 a:hover {
    /*color: #fff;*/
    color: $orange2;
    text-shadow: 0px 0px 2px $orange2;
    /*background-color: rgba(167,219,216,1);*/
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
    -webkit-transition: text-shadow 0.5s; /* Safari */
    transition: text-shadow 0.5s;
}

h1 {
  margin: 0 auto;
  text-align: center;
  text-transform: none;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: rgba(250,105,0,1);
  text-shadow: 1px 1px rgba(105,210,231,1);
  letter-spacing: 1px;
  border-bottom: 2px black solid;
  padding-top: 10px;
  padding-bottom: -8px;
  font-size: 45px;
  text-transform: capitalize;
}

h2 {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  /*font-family: 'Lobster', cursive;*/
  font-weight: bold;
  border-bottom: 1px black solid;
  padding-top: 10px;
  padding-bottom: -5px;
  text-transform: none;
  letter-spacing: 1px;
  color: $orange;
  font-size: 30px;
  text-shadow: 1px 1px rgba(105,210,231,1);
  /*background: $beige !important;*/
  text-transform: capitalize;
}

h3 {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  /*font-family: 'Lobster', cursive;*/
  font-weight: bold;
  /*border-bottom: 1px black solid;*/
  padding-top: 10px;
  padding-bottom: -5px;
  text-transform: none;
  letter-spacing: 1px;
  color: $orange;
  font-size: 30px;
  text-shadow: 1px 1px rgba(105,210,231,1);
  /*background: $beige !important;*/
}

/*
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
*/

#main {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  padding-bottom: 80px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 5px gray;
/*  height: 100%;*/
}

#nav {
  position: fixed;
  z-index: 100;
  margin: 0px 0 0 -20px;
  width: 90%;
  /*left: -10px;*/
  top: 0px;
/*  left: px;*/
  padding: 10px 20px 20px 0px;
  text-align: center;
  /*border: 1px solid black;*/
  /*border-top: 1px solid black;*/
  border-bottom: 1px solid black;
  background-color: rgba(167,219,216,1)
}

#nav a{
  font-size: 18px;
  padding: 0px 90px;
  text-transform: capitalize;
}

.navbar, .dropdown-menu {
	/*position: fixed;*/
  	z-index: 100;
	background-color: rgba(167,219,216,1)
}

.dropdown-menu>li {
	font-size: 15px;
}

.navbar-brand {
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: rgba(250,105,0,1) !important;
  text-shadow: 1px 1px rgba(105,210,231,1);
  font-size: 30px !important;
}

.navbar a {
  font-size: 18px;
  /*padding: 0px 90px;*/
  text-transform: capitalize;
}

#content {
    position: relative;
    padding-top: 10px;
}

.links {
	width: 100%;
    position: relative;
    margin: 0 auto;
/*    width: 500px;*/
    text-align: center;
}

.links table {
	width: 80%;
	position: relative;
	margin: 0 auto;
}


.links > .header{
	font-weight: bold;
	font-size: 20px;
	/*border-bottom: 1px solid black;*/
	text-transform: capitalize;
	letter-spacing: 3px;
}

.links td {
	margin: 0 auto;
    position: relative;
    width: 100% !important;
    font-size: 20px;
    padding: 0 10px;
/*    margin: 100px;*/
    line-height: 30px;
    text-align: center;
    letter-spacing: 3px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.links tr:nth-child(even){
	background-color: $beige;
}

.links tr:nth-child(odd){
	background-color: rgba(167,219,216,1);
}

.links td:hover {
	/*border: 1px black solid;*/
	background-color: white;
	color: $orange2 !important;
    text-shadow: 0px 0px 2px $orange2;
    /*background-color: rgba(167,219,216,1);*/
    font-weight: bold;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.links a{
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

table {
	word-wrap:break-word;
	word-break: break-word;
	/*word-break: break-all;*/
}

.userbox {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.user-info {
	position: relative;
	/*width: 100%;*/
}

.user-info th {
	width: 34%;
	text-transform: capitalize;
}
.user-info td {
	width: 66%;
}


.nav1, .nav2 {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.nav1 a, .nav2 a {
		display: inline-block;
		text-align: center;
		letter-spacing: 3px;
}

.nav2 a:first-child::after {
		content: ' |';
		visibility: visible;
}

.info {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.info strong {
	text-align: left;
}

.right {
	float: right;
}

#messages {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
	background-color: $blue2;
}

#chat {
	/*list-style: none;*/
	width: 100%;
	padding: 0;
}

#chat li {
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 5px 0;
	font-size: 15px;
	list-style-type: none;
	border-radius: 8px;
	word-wrap: break-word;
	word-break: break-word;
	box-shadow: 0px 0px 1px gray;
}

#chat li:nth-child(odd){
	background-color: white;
	text-align: left;
}

#chat li:nth-child(odd) .chat-header {
	border-bottom: 2px dashed $blue2;
}

#chat li:nth-child(even){
	background-color: $blue2;
	text-align: left;
}

#chat li:nth-child(even) .chat-header {
	border-bottom: 2px dashed white;
}

#chat .chat-header {
	/*border-bottom: 2px dashed $blue2;*/
	margin-left: 10px;
	margin-right: 10px;
}

#chat .mess {
	position: relative;
	margin-left: 50px;
}

#form-inputs #chat-input {
	position: relative;
	width: 80%;
	left: 0 !important;
}

#message_content {
	position: relative;
	/*margin: 0 auto;*/
	width: 75%;
	left: 0 !important;
	font-size: 14px;
}


.input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $blue2;
}

.input:focus {
  box-shadow: 0 0 5px $blue2;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $blue2;
  webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $blue2;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $blue2;
  webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

#notice {
  text-align: center;
  color: green;
  width: 100%;
  background-color: $beige;
  padding: 10px 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.alert, .alert-danger {
	margin: 0 auto;
	text-align: center;
}

.btn {
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

.navbar ul li {
    list-style: none;
  }

/*media queries*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	.links table {
		width: 80%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
	.links table {
		width: 100%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	.links table {
		width: 80%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
	.links table {
		width: 100%;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
	.links table {
		width: 80%;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
	.links table {
		width: 50%;
	}
}
