<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- <h1>Listing Categories</h1> -->
<BR>
<h2><%= 'Categories' %></h2>
<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
        <%= link_to (category.name), category %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<aside></aside>

<br>

<!-- <%= link_to 'New Category', new_category_path %> -->
