
<p>
  <div class="panel panel-default">
  <div class="panel-heading"><b>
  <%= link_to '< Back', root_path %>&nbsp
  
  </b>
  <%= render "rooms/index" %>
</p>

<!-- <%= link_to 'Edit', edit_category_path(@category) %>  -->
<!-- <span style="float: right;"><%= link_to 'Create New Room', new_room_path %></span> -->