
<p>
  <div class="panel panel-default">
  <div class="panel-heading"><b>
  <%= link_to '< Back', root_path %>&nbsp&nbsp
  </b>
  <% @cateroyNam = @category.name %>
  <%= render "rooms/index" %>
</p>

<!-- <%= link_to 'Edit', edit_category_path(@category) %>  -->
